body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-image: url(../imagens/floresta.png);
    transition: 0.8s;
    background-repeat: no-repeat;
    background-size:cover;
    color: #353535;  
}

body.modo-escuro{
        background-image: url(../imagens/noite.jpg);
        transition: 0.8s;
    color: #ffffff;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo,
header .imagem-botao{
    width: 60px;
    transition: 0.3s ease-in-out;
}

header .pokemon-logo{
    width: 200px;
    transition: 0.3s ease-in-out;
}

header #botao-alterar-tema{
    background: none;
    border: none;
    cursor: pointer;
}

header .logo:hover,
header .pokemon-logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover,
header .player:hover{
    transform: scale(1.10);
    cursor: pointer;
}   

main{
    padding: 25px;

}

.listagem-pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

}

.cartao-pokemon{
        background-color: #dbf6f8;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    

}

main .cartao-pokemon:hover{
    background-color: #9ed996;
}

.modo-escuro .cartao-pokemon:hover{
    background-color: #7b8536;
}

.modo-escuro .cartao-pokemon{
    background-color: #2b2b55;
}

.modo-escuro .cartao-pokemon .informacoes{
    border: 1px solid white
}


main .cartao-pokemon .informacoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px

}

main .cartao-pokemon .informacoes span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;

}

main .cartao-pokemon .gif{
    width: 90px;
    height: 90px;
    
}

main .cartao-pokemon .tipos{
    display: flex;
    gap: 15px;

}

main .cartao-pokemon .tipo{
    padding: 8px;
    border-radius: 10px;
}

.grama{
    background-color: #7ac74c;
}

.veneno{
    background-color: #df67ddfb
}

.Fogo{
    background-color: #ee8130;
}

.Agua{
    background-color: #6390f0;
}

.Inseto{
    background-color: #a6b91a;
}

main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}

header .player{
    width: 300px;
    height: 30px;
    transition: 0.3s ease-in-out;
}
